@inherits UmbracoViewPage<IEnumerable<IProductGroup>>
@if (Model == null) { return; }

<div class="row">
    @foreach (var group in Model)
    {
        <div class="col-12 col-md-6 col-lg-3 mb-5">
            @Html.Partial("Partials/Products/ProductGroupListItem", group)
        </div>
    }
</div>
