<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fb30299-c478-4a36-bb60-3d9234bd9130" Alias="Checkout Page - Total View - Dropdown" Level="1">
  <Info>
    <Name>Checkout Page - Total View - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Subtotal"
    },
    {
      "id": 2,
      "value": "Total"
    }
  ]
}]]></Config>
</DataType>