<?xml version="1.0" encoding="utf-8"?>
<DataType Key="42c99d10-5c04-4f8b-ac20-f6e5323a2d07" Alias="Media Picker - Multiple Images" Level="1">
  <Info>
    <Name>Media Picker - Multiple Images</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>