<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b9c6ad6-9b8f-4785-8ebf-35b71b69d557" Alias="Picker - Content" Level="1">
  <Info>
    <Name>Picker - Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>