<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6caa18a9-c10c-4bf7-bc88-53e4b589af45" Alias="Seo Settings - SEO Checker" Level="1">
  <Info>
    <Name>Seo Settings - SEO Checker</Name>
    <EditorAlias>SEOChecker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValidationMode": "never",
  "MapTitleProperty": null,
  "MapKeywordsProperty": null,
  "MapDescriptionProperty": null,
  "UseKeywordTag": false,
  "KeywordSelectionTool": "https://adwords.google.com/ko/KeywordPlanner/Home"
}]]></Config>
</DataType>