<?xml version="1.0" encoding="utf-8"?>
<DataType Key="303fad0f-7369-4f30-bead-78cbf598cebf" Alias="Vendr: Store Picker" Level="1">
  <Info>
    <Name>Vendr: Store Picker</Name>
    <EditorAlias>Vendr.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>