<?xml version="1.0" encoding="utf-8"?>
<DataType Key="698bb5a4-ae2f-46ed-b245-eb0de8fb44ad" Alias="Vendr: Price" Level="1">
  <Info>
    <Name>Vendr: Price</Name>
    <EditorAlias>Vendr.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>