<?xml version="1.0" encoding="utf-8"?>
<Content Key="94dbf55c-8b72-4204-a459-f6a5c7e0b35c" Alias="Cameras" Level="3">
  <Info>
    <Parent Key="ac924179-ba8c-4076-b73e-a6f3d27612b2">Products</Parent>
    <Path>/Home/Products/Teeshirts</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2020-03-09T10:02:20</CreateDate>
    <NodeName Default="Cameras" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="23e0579d-895e-422b-b6a0-a71e0a47510f">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Donec ornare suscipit lacus in condimentum. Aenean eros neque, volutpat non orci vel, sagittis efficitur urna. Praesent vel nulla imperdiet sem maximus consequat.]]></Value>
    </description>
    <hideChildrenFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <image>
      <Value><![CDATA[umb://media/ad74c39981b94549a49dd2be34076641]]></Value>
    </image>
    <SeoSettings>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle></seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </SeoSettings>
  </Properties>
</Content>