<?xml version="1.0" encoding="utf-8"?>
<Content Key="32007fa6-02e2-4031-ad96-a6d8d0842d0c" Alias="Camera 1" Level="4">
  <Info>
    <Parent Key="94dbf55c-8b72-4204-a459-f6a5c7e0b35c">Cameras</Parent>
    <Path>/Home/Products/Teeshirts/ClassicTee</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2020-03-09T10:04:18</CreateDate>
    <NodeName Default="Camera 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3fedaa6a-2559-4cd4-9381-5b59de494245">ProductPage</Template>
  </Info>
  <Properties>
    <hideChildrenFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <images>
      <Value><![CDATA[umb://media/ad74c39981b94549a49dd2be34076641,umb://media/d0b3a618aaa14f3fb7b43f6866341df6,umb://media/f9f117543b2e41a5af61e4079476a31d]]></Value>
    </images>
    <longDescription>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet molestie nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc mollis purus dapibus dui maximus, in egestas augue tincidunt. Curabitur mollis velit rutrum, vestibulum tortor non, auctor libero. Proin maximus eget augue ut mattis. Nulla porttitor augue ac lectus mollis, vel porta neque congue. Donec varius eu tortor quis congue. Nulla tempor ornare ipsum, ac sodales mi.</p>
<p>Nulla vehicula mi nec bibendum porta. Nunc cursus varius risus. In ac euismod tortor, pellentesque sagittis nunc. Sed ut purus s<strong>emper, imperdiet turpis et, consequat lorem. Nulla faucibus lorem et orci egestas vulputate. Fusce bibendum tellus eget tortor malesuada, fringilla vestibulum lectus aliquam. Praesent nec sapien in eros eleifend iaculis. Nam ornare arcu vitae arcu porta, eu rutrum purus semper. Maecenas nulla justo, scelerisque ac tellus sit amet, iaculis rhoncus m</strong>assa. Integer efficitur, elit ut semper sollicitudin, augue neque dictum turpis, eget lobortis ipsum tortor vitae urna. Suspendisse bibendum tempor maximus. Mauris rutrum purus libero, et imperdiet dolor dictum eget. Nunc libero purus, pharetra vitae interdum euismod, blandit sit amet dui. Curabitur dolor nibh, congue imperdiet ex ut, bibendum aliquam lacus. Aenean pulvinar, elit et elementum pharetra, felis nisl facilisis felis, accumsan viverra risus nibh a lorem.</p>]]></Value>
    </longDescription>
    <price>
      <Value><![CDATA[{
  "05681dc9-0682-4188-a892-48f14ff80830": 399.99
}]]></Value>
    </price>
    <SeoSettings>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle></seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </SeoSettings>
    <sku>
      <Value><![CDATA[123456]]></Value>
    </sku>
  </Properties>
</Content>