<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4cb79d2-f322-4435-9c4f-b27ecb04de48" Alias="Cart" Level="2">
  <Info>
    <Parent Key="803c65cf-78dd-4f27-8e51-d4b4acbb2e98">Home</Parent>
    <Path>/Home/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cartPage</ContentType>
    <CreateDate>2020-03-09T13:15:03</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd5ec818-ed7c-4474-a2dd-9ccbe3d661d9">CartPage</Template>
  </Info>
  <Properties />
</Content>