<?xml version="1.0" encoding="utf-8"?>
<Content Key="74d8812f-825a-416a-a359-23c2870931b4" Alias="Checkout" Level="2">
  <Info>
    <Parent Key="803c65cf-78dd-4f27-8e51-d4b4acbb2e98">Home</Parent>
    <Path>/Home/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPage</ContentType>
    <CreateDate>2020-03-09T13:15:09</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <logo>
      <Value><![CDATA[umb://media/2f173f62d0424091be999f9c6216b68a]]></Value>
    </logo>
    <primaryColor>
      <Value><![CDATA[]]></Value>
    </primaryColor>
    <umbracoRedirect>
      <Value><![CDATA[umb://document/8caea5f36c2e412992b6cf35c294af00]]></Value>
    </umbracoRedirect>
  </Properties>
</Content>