<?xml version="1.0" encoding="utf-8"?>
<Content Key="8caea5f3-6c2e-4129-92b6-cf35c294af00" Alias="Customer Information" Level="3">
  <Info>
    <Parent Key="74d8812f-825a-416a-a359-23c2870931b4">Checkout</Parent>
    <Path>/Home/Checkout/CustomerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutInformationPage</ContentType>
    <CreateDate>2020-03-09T13:16:36</CreateDate>
    <NodeName Default="Customer Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec538c17-5ec3-4e19-8653-0a734e5794c1">CheckoutInformationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <shortStepName>
      <Value><![CDATA[Information]]></Value>
    </shortStepName>
    <totalView>
      <Value><![CDATA[["Subtotal"]]]></Value>
    </totalView>
  </Properties>
</Content>