<?xml version="1.0" encoding="utf-8"?>
<Content Key="803c65cf-78dd-4f27-8e51-d4b4acbb2e98" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2020-03-09T09:51:58</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3188c237-34a0-4661-91bd-802d2a34b3e4">Homepage</Template>
  </Info>
  <Properties>
    <bottomLogo>
      <Value><![CDATA[umb://media/2f173f62d0424091be999f9c6216b68a]]></Value>
    </bottomLogo>
    <copyright>
      <Value><![CDATA[&copy 2020 VendrSandbox.]]></Value>
    </copyright>
    <facebookPixelCode>
      <Value><![CDATA[]]></Value>
    </facebookPixelCode>
    <footerLinks>
      <Value><![CDATA[[]]]></Value>
    </footerLinks>
    <googleSiteVerificationCode>
      <Value><![CDATA[]]></Value>
    </googleSiteVerificationCode>
    <googleTagManagerCode>
      <Value><![CDATA[]]></Value>
    </googleTagManagerCode>
    <hideChildrenFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <primaryNavigation>
      <Value><![CDATA[umb://document/ac924179ba8c4076b73ea6f3d27612b2]]></Value>
    </primaryNavigation>
    <SeoSettings>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle></seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </SeoSettings>
    <store>
      <Value><![CDATA[15d791da-15f4-4749-b3ba-fcec19ff4ce6]]></Value>
    </store>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <topLogo>
      <Value><![CDATA[umb://media/2f173f62d0424091be999f9c6216b68a]]></Value>
    </topLogo>
  </Properties>
</Content>