<?xml version="1.0" encoding="utf-8"?>
<Content Key="87f29df2-ff5c-47c9-90f4-771a8737c847" Alias="Order Confirmation" Level="3">
  <Info>
    <Parent Key="74d8812f-825a-416a-a359-23c2870931b4">Checkout</Parent>
    <Path>/Home/Checkout/OrderConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutConfirmationPage</ContentType>
    <CreateDate>2020-03-09T13:16:21</CreateDate>
    <NodeName Default="Order Confirmation" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a681dc0-b8d5-4043-a5f4-952fcb0112e6">CheckoutConfirmationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[0]]></Value>
    </canGoBack>
    <shortStepName>
      <Value><![CDATA[Confirmation]]></Value>
    </shortStepName>
    <totalView>
      <Value><![CDATA[["Total"]]]></Value>
    </totalView>
  </Properties>
</Content>