<?xml version="1.0" encoding="utf-8"?>
<Content Key="283869f9-c8a8-4d93-bf84-61d79433819a" Alias="Process Payment" Level="3">
  <Info>
    <Parent Key="74d8812f-825a-416a-a359-23c2870931b4">Checkout</Parent>
    <Path>/Home/Checkout/ProcessPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPaymentPage</ContentType>
    <CreateDate>2020-03-09T13:17:14</CreateDate>
    <NodeName Default="Process Payment" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b351cea8-35bb-496b-ab56-ab678ec86d61">CheckoutPaymentPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <shortStepName>
      <Value><![CDATA[Payment]]></Value>
    </shortStepName>
    <totalView>
      <Value><![CDATA[["Total"]]]></Value>
    </totalView>
  </Properties>
</Content>