<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac924179-ba8c-4076-b73e-a6f3d27612b2" Alias="Products" Level="2">
  <Info>
    <Parent Key="803c65cf-78dd-4f27-8e51-d4b4acbb2e98">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productsPage</ContentType>
    <CreateDate>2020-03-09T09:52:15</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1660417-cae9-4103-8676-f116364bdffd">ProductsPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hideChildrenFromNavigation>
      <Value><![CDATA[1]]></Value>
    </hideChildrenFromNavigation>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
    <SeoSettings>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle></seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </SeoSettings>
  </Properties>
</Content>