<?xml version="1.0" encoding="utf-8"?>
<Content Key="de83a73a-39e2-40ad-9af3-28d56be9e29f" Alias="Review Order" Level="3">
  <Info>
    <Parent Key="74d8812f-825a-416a-a359-23c2870931b4">Checkout</Parent>
    <Path>/Home/Checkout/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutReviewPage</ContentType>
    <CreateDate>2020-03-09T13:17:02</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3fcec05-b373-449f-adb6-4b888bbc2f4e">CheckoutReviewPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <shortStepName>
      <Value><![CDATA[Review]]></Value>
    </shortStepName>
    <totalView>
      <Value><![CDATA[["Total"]]]></Value>
    </totalView>
  </Properties>
</Content>