<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcb0015c-c033-47c1-ae79-571dd5aac179" Alias="Shipping/Payment Method" Level="3">
  <Info>
    <Parent Key="74d8812f-825a-416a-a359-23c2870931b4">Checkout</Parent>
    <Path>/Home/Checkout/ShippingPaymentMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutShippingPaymentMethodPage</ContentType>
    <CreateDate>2020-03-09T13:16:51</CreateDate>
    <NodeName Default="Shipping/Payment Method" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68fa2d2c-0783-4f18-a401-dd0fa199496d">CheckoutShippingPaymentMethodPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <shortStepName>
      <Value><![CDATA[Shipping/Payment]]></Value>
    </shortStepName>
    <totalView>
      <Value><![CDATA[["Subtotal"]]]></Value>
    </totalView>
  </Properties>
</Content>