<?xml version="1.0" encoding="utf-8"?>
<Content Key="d255c1ba-6655-483a-bc46-b794130866bb" Alias="Variant 1" Level="5">
  <Info>
    <Parent Key="32007fa6-02e2-4031-ad96-a6d8d0842d0c">Camera 1</Parent>
    <Path>/Home/Products/Teeshirts/ClassicTee/ClassicTeeVariant1</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-03-09T11:53:27</CreateDate>
    <NodeName Default="Variant 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "05681dc9-0682-4188-a892-48f14ff80830": 399.99
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[This is the first variant]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[987]]></Value>
    </sku>
  </Properties>
</Content>