<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd366099-e64d-414e-8cf9-2972dda22346" Alias="Variant 2" Level="5">
  <Info>
    <Parent Key="32007fa6-02e2-4031-ad96-a6d8d0842d0c">Camera 1</Parent>
    <Path>/Home/Products/Teeshirts/ClassicTee/ClassicTeeVariant2</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-03-09T11:56:03</CreateDate>
    <NodeName Default="Variant 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "05681dc9-0682-4188-a892-48f14ff80830": 499.99
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[This is the second variant]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[654654789]]></Value>
    </sku>
  </Properties>
</Content>