<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26c0f827-a0d2-49a9-8391-854f62200826" Alias="cartPage" Level="2">
  <Info>
    <Name>Cart Page</Name>
    <Icon>icon-shopping-basket color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
    </Compositions>
    <DefaultTemplate>CartPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd5ec818-ed7c-4474-a2dd-9ccbe3d661d9">CartPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>