<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e3479401-c110-460a-ac53-5fdab141d46b" Alias="checkoutPaymentPage" Level="3">
  <Info>
    <Name>Checkout Payment Page</Name>
    <Icon>icon-credit-card-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPaymentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b351cea8-35bb-496b-ab56-ab678ec86d61">CheckoutPaymentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>