<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1718915e-7310-4543-80af-a93f00049565" Alias="checkoutReviewPage" Level="3">
  <Info>
    <Name>Checkout Review Page</Name>
    <Icon>icon-eye color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutReviewPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d3fcec05-b373-449f-adb6-4b888bbc2f4e">CheckoutReviewPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>