<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c81c9637-3b29-42f4-8f8f-4677a9e66821" Alias="checkoutConfirmationPage" Level="3">
  <Info>
    <Name>Checkout Confirmation Page</Name>
    <Icon>icon-receipt-pound color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutConfirmationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7a681dc0-b8d5-4043-a5f4-952fcb0112e6">CheckoutConfirmationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>