<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a9c21e4-fb0b-4ded-bd42-a2e005ddb5d6" Alias="checkoutShippingPaymentMethodPage" Level="3">
  <Info>
    <Name>Checkout Shipping/Payment Method Page</Name>
    <Icon>icon-checkbox color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutShippingPaymentMethodPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="68fa2d2c-0783-4f18-a401-dd0fa199496d">CheckoutShippingPaymentMethodPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>