<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d44314c-6e27-4769-8816-f6b3b80d7808" Alias="checkoutStepPage" Level="2">
  <Info>
    <Name>Checkout Step Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6d52b356-21ac-4cef-87ea-e88c28de7fb3</Key>
      <Name>Can Go Back</Name>
      <Alias>canGoBack</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set whether it's possible to go back whilst on this checkout step.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Options</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>031a1ad9-d8a5-4920-83b1-bdc1dec14861</Key>
      <Name>Short Step Name</Name>
      <Alias>shortStepName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A short name for this step to display in the checkout navigation.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Options</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f0466485-cbda-4210-bfd2-7793c2722384</Key>
      <Name>Total View</Name>
      <Alias>totalView</Alias>
      <Definition>7fb30299-c478-4a36-bb60-3d9234bd9130</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select what value to display as the order total.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Options</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Options</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>