<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbfc71e2-09da-4180-ab5b-38e16bceac76" Alias="checkoutInformationPage" Level="3">
  <Info>
    <Name>Checkout Information Page</Name>
    <Icon>icon-info color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="3d44314c-6e27-4769-8816-f6b3b80d7808">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutInformationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ec538c17-5ec3-4e19-8653-0a734e5794c1">CheckoutInformationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>