<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0e15dc4-ada4-4266-b79f-cece39ec1342" Alias="checkoutPage" Level="2">
  <Info>
    <Name>Checkout Page</Name>
    <Icon>icon-cash-register color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c81c9637-3b29-42f4-8f8f-4677a9e66821" SortOrder="0">checkoutConfirmationPage</ContentType>
    <ContentType Key="dbfc71e2-09da-4180-ab5b-38e16bceac76" SortOrder="1">checkoutInformationPage</ContentType>
    <ContentType Key="e3479401-c110-460a-ac53-5fdab141d46b" SortOrder="2">checkoutPaymentPage</ContentType>
    <ContentType Key="1718915e-7310-4543-80af-a93f00049565" SortOrder="3">checkoutReviewPage</ContentType>
    <ContentType Key="4a9c21e4-fb0b-4ded-bd42-a2e005ddb5d6" SortOrder="4">checkoutShippingPaymentMethodPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a45305f2-809b-4424-b5a4-ced155ae7bb1</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>43fd9312-7ec2-458b-93a6-9b642513480a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9a5de89-7e3a-40b8-982d-0e8c6f423782</Key>
      <Name>Primary Color</Name>
      <Alias>primaryColor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The primary brand color to use for the checkout pages. Should be one of tailwind CSSs default colors. Defaults to blue-500.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6eb270d0-be96-43d6-afd1-22211931e1d4</Key>
      <Name>Redirect to Node</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>8b9c6ad6-9b8f-4785-8ebf-35b71b69d557</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>