<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f5270e1-81f5-4a7d-a9d8-1baa7c9b3113" Alias="collectionPage" Level="2">
  <Info>
    <Name>Collection Page</Name>
    <Icon>icon-thumbnails-small color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
      <Composition Key="25687b4f-c4a3-431c-9c61-bd92a987fa64">metaInfo</Composition>
      <Composition Key="c4dae155-4b96-4181-b41b-fe03f63d1c33">productGroup</Composition>
      <Composition Key="c56f1f82-1bc5-4471-a340-308cbe29b648">settings</Composition>
    </Compositions>
    <DefaultTemplate>CollectionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23e0579d-895e-422b-b6a0-a71e0a47510f">CollectionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c87880d3-58d7-47ab-9f92-12b965f1df98" SortOrder="0">productPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>