<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="253f5c67-181d-433c-bd44-06549bef5b7f" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
      <Composition Key="25687b4f-c4a3-431c-9c61-bd92a987fa64">metaInfo</Composition>
      <Composition Key="c56f1f82-1bc5-4471-a340-308cbe29b648">settings</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3188c237-34a0-4661-91bd-802d2a34b3e4">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="681aa8b6-8135-4430-8175-a7226df22dd2" SortOrder="0">productsPage</ContentType>
    <ContentType Key="26c0f827-a0d2-49a9-8391-854f62200826" SortOrder="1">cartPage</ContentType>
    <ContentType Key="b0e15dc4-ada4-4266-b79f-cece39ec1342" SortOrder="2">checkoutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>23570c7f-58b7-4a8b-98b3-b47c8c17cdd8</Key>
      <Name>Bottom Logo</Name>
      <Alias>bottomLogo</Alias>
      <Definition>43fd9312-7ec2-458b-93a6-9b642513480a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7c81608c-ac68-4654-b99f-75a56dde501d</Key>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ef00cca8-133d-4795-9449-594a6281bf76</Key>
      <Name>Facebook Pixel Code</Name>
      <Alias>facebookPixelCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Analytics</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>77a4f6e2-a9fe-4fef-a6c6-855b01ab8706</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3de54281-9084-4ed3-bb63-61dee0f62b5d</Key>
      <Name>Google Site Verification Code</Name>
      <Alias>googleSiteVerificationCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Analytics</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b4952c3f-6884-4e5b-81fb-f12c1942e2a3</Key>
      <Name>Google Tag Manager Code</Name>
      <Alias>googleTagManagerCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Analytics</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>77de1a12-a833-4d8b-b976-a942e72f1881</Key>
      <Name>Primary Navigation</Name>
      <Alias>primaryNavigation</Alias>
      <Definition>8b9c6ad6-9b8f-4785-8ebf-35b71b69d557</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fd949848-cd98-4884-b042-dd1ffcd1258c</Key>
      <Name>Store</Name>
      <Alias>store</Alias>
      <Definition>303fad0f-7369-4f30-bead-78cbf598cebf</Definition>
      <Type>Vendr.StorePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the store associated with this site.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Site</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a84fc6b1-3c74-4d8a-b5e1-85e7ce077bdc</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6b20de1a-8c75-45e0-a496-3fc9010f875f</Key>
      <Name>Top Logo</Name>
      <Alias>topLogo</Alias>
      <Definition>43fd9312-7ec2-458b-93a6-9b642513480a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Site</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Analytics</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>