<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4" Alias="master" Level="1">
  <Info>
    <Name>Master</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="117c9f60-c645-453c-8eee-8ab2c26505ab">Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="253f5c67-181d-433c-bd44-06549bef5b7f" SortOrder="0">homepage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>