<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25687b4f-c4a3-431c-9c61-bd92a987fa64" Alias="metaInfo" Level="2">
  <Info>
    <Name>Meta Info</Name>
    <Icon>icon-settings color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f3421809-3519-4125-bfd0-0f702fa0597c</Key>
      <Name>SEO Settings</Name>
      <Alias>SeoSettings</Alias>
      <Definition>6caa18a9-c10c-4bf7-bc88-53e4b589af45</Definition>
      <Type>SEOChecker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>49</SortOrder>
    </Tab>
  </Tabs>
</ContentType>