<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="681aa8b6-8135-4430-8175-a7226df22dd2" Alias="productsPage" Level="2">
  <Info>
    <Name>Products Page</Name>
    <Icon>icon-paper-bag color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
      <Composition Key="25687b4f-c4a3-431c-9c61-bd92a987fa64">metaInfo</Composition>
      <Composition Key="c4dae155-4b96-4181-b41b-fe03f63d1c33">productGroup</Composition>
      <Composition Key="c56f1f82-1bc5-4471-a340-308cbe29b648">settings</Composition>
    </Compositions>
    <DefaultTemplate>ProductsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e1660417-cae9-4103-8676-f116364bdffd">ProductsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0f5270e1-81f5-4a7d-a9d8-1baa7c9b3113" SortOrder="0">collectionPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>