<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c87880d3-58d7-47ab-9f92-12b965f1df98" Alias="productPage" Level="2">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-barcode color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Parent>
    <Compositions>
      <Composition Key="0afcc834-0c41-40d2-b6c7-ec733dd160c4">master</Composition>
      <Composition Key="25687b4f-c4a3-431c-9c61-bd92a987fa64">metaInfo</Composition>
      <Composition Key="9afbba81-029d-4bf5-901e-59f7b6430874">product</Composition>
      <Composition Key="c56f1f82-1bc5-4471-a340-308cbe29b648">settings</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3fedaa6a-2559-4cd4-9381-5b59de494245">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2b7b8d0f-8183-4694-a89e-8264d5f4eb64" SortOrder="0">productVariant</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1c81c257-66ec-4eb4-923c-959935709950</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>42c99d10-5c04-4f8b-ac20-f6e5323a2d07</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>64434180-9aec-4286-af98-c84682dfa1c4</Key>
      <Name>Long Description</Name>
      <Alias>longDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>