<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b3a618-aaa1-4f3f-b7b4-3f6866341df6" Alias="776 400X400" Level="2">
  <Info>
    <Parent Key="2869148b-1223-48a8-9711-9a0808109f3c">Products</Parent>
    <Path>/Products/X400</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-04-13T13:05:29</CreateDate>
    <NodeName Default="776 400X400" />
    <SortOrder>7</SortOrder>
    <FileHash>1821651331051682511819511415969237101194161164</FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d0tlhufb/776-400x400.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>