<?xml version="1.0" encoding="utf-8"?>
<Media Key="62dceeff-6d2b-4b52-af26-f7271990e602" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-03-09T10:47:33</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>