<?xml version="1.0" encoding="utf-8"?>
<Media Key="45f65b88-d013-4c2b-a71f-e40014c85531" Alias="Product Collections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductCollections</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-03-09T12:42:24</CreateDate>
    <NodeName Default="Product Collections" />
    <SortOrder>3</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>