<?xml version="1.0" encoding="utf-8"?>
<Media Key="da933079-899c-4db3-b6cf-727b8b7a38b9" Alias="Shipping" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shipping</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-03-12T09:51:20</CreateDate>
    <NodeName Default="Shipping" />
    <SortOrder>4</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>