<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f173f62-d042-4091-be99-9f9c6216b68a" Alias="Vendr" Level="2">
  <Info>
    <Parent Key="62dceeff-6d2b-4b52-af26-f7271990e602">Logos</Parent>
    <Path>/Logos/Vendr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-03-09T10:47:36</CreateDate>
    <NodeName Default="Vendr" />
    <SortOrder>0</SortOrder>
    <FileHash>35205151158112246107522135794164561211</FileHash>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mq5bol0c/f22e5980-0622-11ea-8b40-16498bf98c4d.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>