<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="2">
  <trigger triggerOnPublish="true"></trigger>
  <xmlSiteMap excludeUmbracoNaviHide="true" />
  <urlRewrite forcewwwUrls="ignore" useTrailingSlashProperty="ignore" />
  <documentTypeConfiguration></documentTypeConfiguration>
  <emailConfiguration></emailConfiguration>
</SEOChecker>